{%- if page.sidebar.nav -%}
  <div class="sidebar-toc">
    {%- assign _sidebar_nav = site.data.navigation[page.sidebar.nav] -%}
    {%- if _sidebar_nav -%}
    <ul class="toc toc--navigator">
      {%- for _item in _sidebar_nav -%}
        <li class="toc-h1">{{ _item.title }}</li>
        {%- if _item.children -%}
          {%- for _child in _item.children -%}

            {%- if page.locale == 'fr' -%}
            {%- include snippets/get-nav-url.html path=_child.url-fr -%}
            {%- assign _title = _child.title-fr -%}
            {%- endif -%}

            {%- if page.locale == 'en' -%}
            {%- include snippets/get-nav-url.html path=_child.url-en -%}
            {%- assign _title = _child.title-en -%}
            {%- endif -%}

            {%- if page.locale == 'it' -%}
            {%- include snippets/get-nav-url.html path=_child.url-it -%}
            {%- assign _title = _child.title-it -%}
            {%- endif -%}

            {%- if _title -%}
            {%- else -%}
            {%- assign _title = _child.title -%}
            {%- endif -%}

            {%- assign _nav_url = __return -%}
            {%- include snippets/get-nav-url.html path=page.url -%}
            {%- assign _page_url = __return -%}
            {%- if _nav_url == _page_url -%}
              <li class="toc-h2 active"><a href="{{ _nav_url }}">{{ _title }}</a></li>
            {%- else -%}
              <li class="toc-h2"><a href="{{ _nav_url }}">{{ _title }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
{%- endif -%}
